.ContainerTextBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}


.textareaTextBox{
    width: 100%;
    height: 200px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: var(--main-font);
}